html, body {
	margin: 0;
	padding: 0;
	width:100%;	
	height: 96%;
	background-color: #F7F7F8;
}

.mainContainer {
	margin-top: 50px;
	height: 100%;
	width:100%;
	background-color: #F7F7F8;
}

.mainContainer .panel {
	float: left;
	background-color: #F7F7F8;
	height: 100%;
}

.destinations label, .destinations .combobox, .destinations .textfield, .direction p, .places div{
	margin-left: 5%;
}

.mainContainer .destinations {
	height: 96%;
	width:30%;
	display : none;
}

.mainContainer .destinations .textfield, .mainContainer .places .textfield {
	display : block;
	float : left;
	width : 90%;
	margin-bottom: 5px;
	border-radius: 5px;
}

.mainContainer .destinations .shortfield {
	display : block;
	float : left;
	width : 76%;
	margin-bottom: 5px;
	border-radius: 5px;
	margin-left: 5%;
}

.mainContainer .destinations .combobox {
	width : 58%;
	float : left;
}

.mainContainer .destinations label, .places label {
	display : block;
	float : left;
	width:95%;
}

.mainContainer .destinations .addButton {
	float : left;
	width : 12%;
	margin-bottom: 5px;
	margin-left: 2%;
}

.mainContainer .destinations .normalButton {
	width : 30%;
	float : left;
	margin-left: 1%;
	display : block;
}

.mainContainer .destinations .closeButton {
	float : left;
	width : 12%;
	margin-bottom: 5px;
	margin-left: 8%;
}

.mainContainer .destinations .wayPointName {
	float : left;
	margin-top: 5px;
	margin-left: 5%;
}

.mainContainer .direction {	
	height: 96%;
	width: 30%;
	overflow-y: scroll;
	display : none;
}

.mainContainer .direction p {
	text-align: center;
	margin-left: 0;
	margin-top: 10px;
	padding: 0;
}

.mainContainer .direction .edit {
	margin-top: 5px;
	width : 100%;
}

.mainContainer .places {
	height: 96%;
	width:30%;
	display : none;
}

.mainContainer .places .listBox {
	float : left;
	display : block;
	width : 90%;
	margin-bottom: 5px;
	margin-left: 0;
}

.mainContainer .places .normalButton {
	width : 30%;
	float : left;
	margin-left: 60%;
}

.mainContainer .places .topFive-container {
	float : left;
	width : 90%;
}

.mainContainer .places .topFive-element p {
	display : none;
}

.mainContainer .places .topFive-element {
	width : 85%;	
}


.mainContainer .places .topFive-element:hover {
	float : left;
	background-color: #98DCF8;
	cursor: pointer; 
}

.startPoint, .endPointLatitude, .endPointLongitude {
	display : none;
	height: 0;
}

.takeMeThereButton {
	margin-top : 5px;
}

.map-canvas {
	width: 70%;
	float: left;
    padding-bottom: 42.5%;
}

.adp-text {
	background-color : #98DCF8;
	border-radius: 10px;	
}

.adp-summary, .adp-text {
	text-align: center;
}